[Unit]
Description=ShowController Video Node
After=multi-user.target

[Service]
Type=simple
User=raspberry
RuntimeDirectory=showcontroller-video
RuntimeDirectoryMode=0755
WorkingDirectory=/run/showcontroller-video

ExecStart=/usr/bin/python3 /opt/showcontroller/modules/video_player/node.py

Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=5
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
