[Unit]
Description=ShowController Video Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=raspberry
Group=raspberry

RuntimeDirectory=showcontroller-video
RuntimeDirectoryMode=0700
WorkingDirectory=/run/showcontroller-video

Environment=XDG_RUNTIME_DIR=/run/showcontroller-video
Environment=TERM=xterm

ExecStart=/usr/bin/python3 /opt/showcontroller/modules/video_player/node.py

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
